body{margin:0;padding: 0;font-family: "Microsoft Yahei","Î¢ÈíÑÅºÚ",Arial,Tahoma;
	font-size: 15px;}
.content{width:100%;background:url(../img/broker-bg.jpg) 0 0 no-repeat;}
.entrance{width:5.8rem;height:2.3rem;background:url(../img/entrance.png) 0 0 no-repeat;margin:0 auto;position:relative;}
